<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>851743474169-kht3v6b254lscpc9h8oevupfou3s81mg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.851743474169-kht3v6b254lscpc9h8oevupfou3s81mg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>851743474169-fj3o94tcpuui29lt2vsramnhmf31fqds.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBYdQnDq23nJFvlb9NwG4eGFDrkDOF-1Tg</string>
	<key>GCM_SENDER_ID</key>
	<string>851743474169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emudhra.emSigner</string>
	<key>PROJECT_ID</key>
	<string>composed-future-810</string>
	<key>STORAGE_BUCKET</key>
	<string>composed-future-810.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:851743474169:ios:dc46cc6243f9cfa352fd28</string>
	<key>DATABASE_URL</key>
	<string>https://composed-future-810.firebaseio.com</string>
</dict>
</plist>